{% extends "base.html" %} {% block title %}Search Public Campaigns{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Search Public Campaigns</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.niche.label(class="form-control-label") }} {{
                    form.niche(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>

    <h3 class="mt-5">Results</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sponsor</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Budget</th>
                <th>Goals</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            <tr>
                <td>{{ campaign.name }}</td>
                <td>{{ campaign.sponsor_name}}</td>
                <td>{{ campaign.description }}</td>
                <td>{{ campaign.start_date }}</td>
                <td>{{ campaign.end_date }}</td>
                <td>{{ campaign.budget }}</td>
                <td>{{ campaign.goals }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
